DB_ENGINE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=gastapp_db
DB_URL="jdbc:${DB_ENGINE}://${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

JWT_SECRET=Ab2Cw2UdObjQ7KZBSNpcpHGINWsGERvCwMuQ1wMjWqIeEpd3w7
JWT_REFRESH_SECRET=lDZmQVuR1gvHu0Eet1Ya7mX3f42FsnrZ5MmCTZTf5Dsn9Hy9Bu
JWT_SECRET_EXPIRATION=600000
JWT_REFRESH_SECRET_EXPIRATION=604800000

APP_ENV=prod
FRONTEND_APP=http://frontend
RESEND_API_KEY=YOUR_API_KEY
EMAIL_APP=YOUR_EMAIL