<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Forgot Password Notification</title>
</head>
<body>

<h1 layout:fragment="title">
    Forgot your password?
</h1>

<div layout:fragment="content">
    <h2>Let's get started with the process</h2>
    <p>
        We received a request to reset your password for your <span th:text="${appName}">AppName</span> account.
        Please note that the recovery link is valid for only 30 minutes.
        If you did not ask to change your password, you can safely ignore this email.
        Your account stays safe.If you need help, contact our support team at support.gastapp@devmaxirivas.cloud.
    </p>
</div>

</body>
</html>