<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Register Notification</title>
</head>
<body>

<h1 layout:fragment="title">
    You just signed up!
</h1>

<div layout:fragment="content">
    <h2>Welcome aboard!</h2>
    <p>
        This is a welcome message to our app for signing up at gastapp.com.
        We appreciate your interest in using our app. If you encounter any issues, please remember that you can contact support.gastapp@devmaxirivas.cloud for assistance.
    </p>
</div>

</body>
</html>