<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Forgot Password Notification</title>
</head>
<body>

<h1 layout:fragment="title">
    Forgot your password?
</h1>

<div layout:fragment="content">
    <h2>We've finished the process</h2>
    <p>
        We have processed a request to reset your password for your <span th:text="${appName}">AppName</span> account.
        If you did not ask to change your password contact our support team at support.gastapp@devmaxirivas.cloud.
    </p>
</div>

</body>
</html>